# 環境設定ファイル
config.json

# 入出力ディレクトリ
in/
out/

# 動作テスト用のファイル（削除予定）
*.mp3
*.wav
*.xlsx

# Python cache directory
__pycache__/

# Visual Studio Code cache directory
.vscode/

# File to keep an empty directory
!/**/.gitkeep

# macOS
.DS_Store
